sudo: required

matrix:
  allow_failures:
    - rust: nightly

  include:
    # flatdata-generator
    - language: python
      name: "flatdata-generator"
      dist: xenial
      python: 3.5
      script:
        - cd flatdata-generator
        - pip3 install -r requirements.txt  # runtime requirements
        - pip3 install nose pylint setuptools  # CI requirements
        - python3 -m nose
        # try to install
        - pip3 install .
        - flatdata-generator --help

    # flatdata-py
    - language: python
      name: "flatdata-py"
      dist: xenial
      python: 3.5
      script:
        - pip3 install ./flatdata-generator
        - cd flatdata-py
        - pip3 install -r requirements.txt  # runtime requirements
        - pip3 install nose pylint setuptools  # CI requirements
        - python3 -m nose
        # try to install
        - pip3 install .
        - flatdata-inspector --help

    # cpp
    - language: cpp
      dist: xenial
      compiler: gcc
      addons:
        apt:
          packages:
            - python3-pip
            - libboost-filesystem-dev
      before_script:
        - pip3 install setuptools
        - pip3 install ./flatdata-generator
      script:
        - flatdata-cpp/ci/build-and-test-cpp.sh

    # cpp
    - language: cpp
      dist: xenial
      compiler: clang
      addons:
        apt:
          packages:
            - python3-pip
            - libboost-filesystem-dev
      before_script:
        - python3-setuptools
        - pip3 install --user ./flatdata-generator
      script:
        - flatdata-cpp/ci/build-and-test-cpp.sh

    # go
    - language: go
      go: 1.x
      install: true
      before_script:
        - go get github.com/golang/dep/cmd/dep
        - go get golang.org/x/lint/golint
      script:
        - |
          set -ex
          pushd flatdata-go/flatdata; make run-ci; popd
          docker run -t --user `id -u $USER` -v $(pwd):/src -w /src boxdot/flatdata-dev:15 \
            ./generator -v -g go \
              -s flatdata-go/backward-compatibility-tests/test_backward_compatibility.schema \
              -O flatdata-go/backward-compatibility-tests/test_backward_compatibility_generated.go
          pushd flatdata-go/backward-compatibility-tests; make run-ci; popd

    # dot
    - dist: xenial
      addons:
        apt:
          packages:
            - python3-pip
            - graphviz
      before_script:
        - pip3 install setuptools
        - pip3 install ./flatdata-generator
      script:
        - ci/dot_test_cases.sh

    # rust
    - language: rust
      dist: xenial
      rust: stable
      cache:
        - cargo
      addons:
        apt:
          packages:
            - python3-pip
      before_script:
        - pip3 install setuptools
        - pip3 install ./flatdata-generator
        - cd flatdata-rs
      script:
        - cargo build
        - cargo test
      after_success:
        - cargo coveralls

    # rust
    - language: rust
      dist: xenial
      rust: beta
      cache:
        - cargo
      addons:
        apt:
          packages:
            - python3-pip
      before_script:
        - pip3 install setuptools
        - pip3 install ./flatdata-generator
        - cd flatdata-rs
      script:
        - cargo build
        - cargo test

    # rust
    - language: rust
      dist: xenial
      rust: nightly
      cache:
        - cargo
      addons:
        apt:
          packages:
            - python3-pip
      before_script:
        - pip3 install setuptools
        - pip3 install ./flatdata-generator
        - cd flatdata-rs
      script:
        - cargo build
        - cargo test
