{% import "rust/structure.jinja2" as structure %}
{% macro declaration(index) %}
{# multivector index structs #}
{{ structure.declaration(index) }}

impl<'a> flatdata::IndexStruct<'a> for {{index.name}} {
    #[inline]
    fn range(data: Self::Item) -> std::ops::Range<usize> {
        let range = data.range();
        range.start as usize..range.end as usize
    }

    #[inline]
    fn set_index(mut data: Self::ItemMut, value: usize) {
        data.set_value(value as u64);
    }
}
{% endmacro %}
