{%- macro declaration(struct) %}
{{ struct.doc | rust_doc }}
define_struct!(
    {{ struct.name }},
    Ref{{ struct.name }},
    RefMut{{ struct.name }},
    schema::structs::{{ struct.name | camel_to_snake_case | upper }},
    {{ struct.size_in_bytes }},
    {% for field in struct.fields %}
    {% if field.doc %}
        {{ field.doc | rust_doc }}
    {% endif %}
    ({{ field.name | escape_rust_keywords }}, set_{{ field.name }}, {{ field | field_type }}, {{ field.offset }}, {{ field.type.width }})
    {%- if not loop.last %},
    {% endif %}
    {% endfor %}
);
{%- endmacro %}
