{% set color_font_generic = "#516D7B" %}
{% set color_archive_bg = "#EBF8FF" %}
{% set color_archive_border = "#85D4FF" %}
{% set color_namespace_bg = "#F7F7F7" %}
{% set color_namespace_border = "#85D4FF" %}
{% set color_resource_bg = "#C4E6F8" %}
{% set color_resource_border = "#85D4FF" %}
{% set color_structure_header_bg = "#257FAD" %}
{% set color_structure_header_fg = color_archive_bg %}
{% set color_structure_member_bg = color_archive_bg %}
{% set color_structure_member_fg = color_font_generic %}
{% set color_structure_member_type_fg = "#568C3B" %}
{% set color_structure_member_width_fg = "#D22D72" %}
{% set color_explicit_reference_fg = "#257FAD" %}
{% set color_implicitly_bound_bg = "#D9F2FF" %}
