{% macro generate(tree, struct) %}
{{ struct|to_go_doc}}
type {{ struct.name|to_go_case }} struct {
    internal flatdata.ResourceHandle
	position int
    multivector bool
}

{% for field in struct.fields %}
func (v *{{ struct.name|to_go_case }}) Get{{ field.name|to_go_case }}() {{ field.type.name|type_mapping_with_bool }} {
    {% if field.doc %}
        {{ field|to_go_doc|indent(8) }}
    {% endif %}
    elementSize := uint({{ field.type.width }})
    elementOffset := uint({{ field.offset }})
    var b int
    if v.multivector {
        b = flatdata.Read(v.internal, (uint(v.position)*8)+elementOffset, elementSize, {{ field.type.is_signed|lower }})
    } else {
        b = flatdata.Read(v.internal, flatdataOffsetSizeInBits+({{ struct.name|to_go_case(false) }}SizeInBytes*8*uint(v.position))+elementOffset, elementSize, {{ field.type.is_signed|lower }})
    }
{% if field.type.name|is_bool %}
    return b == 1
{% else %}
    return {{ field.type.name|type_mapping_with_bool }}(b)
{% endif %}
}
    
{% endfor %}
    
func (v *{{ struct.name|to_go_case }}) ToString() string {
    buffer := bytes.Buffer{}
    buffer.WriteString("{")
    buffer.WriteString("\n")
    buffer.WriteString("\"")
    buffer.WriteString("name")
    buffer.WriteString("\"")
    buffer.WriteString(": ")
    buffer.WriteString("{{ struct.name }}")
    buffer.WriteString(",")
    buffer.WriteString("\n")
    buffer.WriteString("\"")
    buffer.WriteString("position")
    buffer.WriteString("\"")
    buffer.WriteString(": ")
    buffer.WriteString(strconv.Itoa(int(v.position)))
    buffer.WriteString(",")
    buffer.WriteString("\n")
    buffer.WriteString("\"attributes\": {")
    buffer.WriteString("\n")
    if v.internal != nil {
	    {% for field in struct.fields %}
        buffer.WriteString("    \"")
        buffer.WriteString("{{ field.name }}")
        buffer.WriteString("\"")
        buffer.WriteString(": ")
        {% if field.type.name|is_bool %}
        buffer.WriteString(strconv.FormatBool(v.Get{{ field.name|to_go_case }}()))
        {% else %}
        buffer.WriteString(strconv.Itoa(int(v.Get{{ field.name|to_go_case }}())))
        {% endif %}
        buffer.WriteString(",")
        buffer.WriteString("\n")
	    {% endfor %}
	}
    buffer.WriteString("}")
    buffer.WriteString("\n")
    buffer.WriteString("}")
	return buffer.String()
}
{% endmacro %}