name: flatdata-cpp
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  CARGO_TERM_COLORS: always

jobs:
  GCC:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        debug-stats: ["", "-DWITH_DEBUG_DATA_ACCESS_STATISTICS=ON"]
    steps:
      - uses: actions/checkout@v2
      - name: Dependencies
        run: sudo apt-get install python3-pip python3-setuptools libboost-filesystem-dev
      - name: Generator
        run: pip3 install ./flatdata-generator
      - name: Build and Test
        run: |
           CC=gcc CXX=g++ EXTRA_CMAKE_ARGS=$debug-stats flatdata-cpp/ci/build-and-test-cpp.sh
  Clang:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        debug-stats: ["", "-DWITH_DEBUG_DATA_ACCESS_STATISTICS=ON"]
    steps:
      - uses: actions/checkout@v2
      - name: Dependencies
        run: sudo apt-get install python3-pip python3-setuptools libboost-filesystem-dev
      - name: Generator
        run: pip3 install ./flatdata-generator
      - name: Build and Test
        run: |
          CC=clang CXX=clang++ EXTRA_CMAKE_ARGS=$debug-stats flatdata-cpp/ci/build-and-test-cpp.sh
