{% macro declaration(index) %}
{# multivector index structs #}
{{ index.doc | rust_doc }}
define_index!(
    {{ index.name }},
    {{ index.name }}Mut,
    schema::structs::{{ index.name | camel_to_snake_case | upper }},
    {{ index.size_in_bytes }},
    {{ index.fields[0].type.width }}
);
{% endmacro %}

{% macro relative_path(multivector) %}
{{ multivector | relative_namespace_prefix }}::{{ multivector.index_reference.node | namespaces | join("::", attribute="name") }}::{{ multivector.index_reference.node.name }}
{%- endmacro %}

